.nav2{
    background-color: #363636;
    color: #ffffff;
    padding-top:15px;
    padding-bottom: 15px;
  }

  .conte{
    padding-top:30px;
    background-color:#B92037;
}

footer{
  background-color:  #363636;
  color: #969696;
  padding-bottom: 30px;
  padding-top:30px;
}
footer h3{
  color: #ffffff;
}

footer  li{
  list-style: none;
  margin-left:5px;
  
}

footer img{
  margin-top:15px;
}